<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <queries>
        <package android:name="com.shcard.smartpay" />        <!-- 신한카드 -->
        <package android:name="com.kbcard.cxh.appcard" />     <!-- 국민카드 -->
        <package android:name="com.kbstar.liivbank" />        <!-- 리브결제 -->
        <package android:name="com.hyundaicard.appcard" />    <!-- 현대카드 -->
        <package android:name="kr.co.samsungcard.mpocket" />  <!-- 삼성카드 -->
        <package android:name="nh.smart.nhallonepay" />       <!-- 농협카드 -->
        <package android:name="com.kftc.bankpay.android" />   <!-- bank pay -->
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PGDummyApp"
        tools:targetApi="31" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PGDummyApp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
    </application>

</manifest>